.productCard {
  .productInfo {
    padding: 15px;
  }
  .btnArea {
    padding: 20px 0;
  }
  .radioBox {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  }
}
.snackbar {
  top: 54px !important;
  width: 100vw;
  .MuiPaper-root {
    width: 100vw;
  }
}
