.radio {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  padding: 6px;
}

.radioChecked {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}
