.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  .titleBar {
    padding: 18px 17px;
    display: flex;
    justify-content: space-between;
  }
  .gridList {
    flex-wrap: nowrap;
    transform: translateZ(0);
  }
}
