.titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
  .back {
    padding: 12px 16px;
    margin-top: 2px;
  }
  .title {
    font-size: 16px;
    font-family: 'PingFang SC';
    flex-grow: 1;
  }
  .cart {
    width: 17px;
    height: 15px;
    object-fit: fill;
    padding: 12px 18px;
    margin-top: 2px;
  }
}
