.titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 40px;
  .back {
    padding: 12px 16px;
    margin-top: 2px;
  }
  .title {
    font-size: 16px;
    font-family: 'PingFang SC';
    flex-grow: 1;
    text-align: center;
  }
  .cart {
    width: 17px;
    height: 15px;
    object-fit: fill;
    padding: 12px 18px;
    margin-top: 2px;
  }
}
